*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

:root {
  --bg-color: #f4f6fa;
  --purple: #a729f5;
  --white: #fff;
  --primary-text-color : #313e51;
  --secondary-text-color : #626c7f;
  --bg-mobile: url(.assests/images/pattern-background-mobile-light.svg);  
}
body {
 height:100svh ;
 background: var(--bg-mobile) var(--bg-color);
    
}

header{
  padding: 16px 24px;
  display: flex;
  justify-content: flex-end;
}

.tema {
  padding: 8px 0;
  display: flex;
  align-items: center;
  gap: 12px;
}

.tema img {
  width: 16px;
}

.tema button {
  height: 20px;
  width: 32px;
  background: var(--purple);
  border: 0;
  border-radius: 999px;
  padding: 4px;  
}

.tema button div {
  background: var(--white);
  width: 12px;
  height: 12px;
  border-radius: 999px;
}

main {
  padding: 32px 24px;

}

.boas-vindas {
  margin-bottom: 40px;
}


.boas-vindas h1 {
font-size: 40px;
font-weight: 300;
color: var(--primary-text-color);
margin-bottom: 16px;
}



.boas-vindas h1 strong {
   font-weight: 500;

}

.boas-vindas p {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 150%;
  font-style: italic;
}

